<!DOCTYPE html>
<html ng-app="admin">
<head>
<title>FOOTBL - ADMIN PANEL</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular-resource.min.js"></script>
    <script type="text/javascript">
        function sha1(str) {
            //  discuss at: http://phpjs.org/functions/sha1/
            // original by: Webtoolkit.info (http://www.webtoolkit.info/)
            // improved by: Michael White (http://getsprink.com)
            // improved by: Kevin van Zonneveld (http://kevin.vanzonneveld.net)
            //    input by: Brett Zamir (http://brett-zamir.me)
            //   example 1: sha1('Kevin van Zonneveld');
            //   returns 1: '54916d2e62f65b3afa6e192e6a601cdbe5cb5897'

            var rotate_left = function (n, s) {
                var t4 = (n << s) | (n >>> (32 - s));
                return t4;
            };

            /*var lsb_hex = function (val) {
             // Not in use; needed?
             var str="";
             var i;
             var vh;
             var vl;

             for ( i=0; i<=6; i+=2 ) {
             vh = (val>>>(i*4+4))&0x0f;
             vl = (val>>>(i*4))&0x0f;
             str += vh.toString(16) + vl.toString(16);
             }
             return str;
             };*/

            var cvt_hex = function (val) {
                var str = '';
                var i;
                var v;

                for (i = 7; i >= 0; i--) {
                    v = (val >>> (i * 4)) & 0x0f;
                    str += v.toString(16);
                }
                return str;
            };

            var blockstart;
            var i, j;
            var W = new Array(80);
            var H0 = 0x67452301;
            var H1 = 0xEFCDAB89;
            var H2 = 0x98BADCFE;
            var H3 = 0x10325476;
            var H4 = 0xC3D2E1F0;
            var A, B, C, D, E;
            var temp;

            // utf8_encode
            str = unescape(encodeURIComponent(str));
            var str_len = str.length;

            var word_array = [];
            for (i = 0; i < str_len - 3; i += 4) {
                j = str.charCodeAt(i) << 24 | str.charCodeAt(i + 1) << 16 | str.charCodeAt(i + 2) << 8 | str.charCodeAt(i + 3);
                word_array.push(j);
            }

            switch (str_len % 4) {
                case 0:
                    i = 0x080000000;
                    break;
                case 1:
                    i = str.charCodeAt(str_len - 1) << 24 | 0x0800000;
                    break;
                case 2:
                    i = str.charCodeAt(str_len - 2) << 24 | str.charCodeAt(str_len - 1) << 16 | 0x08000;
                    break;
                case 3:
                    i = str.charCodeAt(str_len - 3) << 24 | str.charCodeAt(str_len - 2) << 16 | str.charCodeAt(str_len - 1) <<
                            8 | 0x80;
                    break;
            }

            word_array.push(i);

            while ((word_array.length % 16) != 14) {
                word_array.push(0);
            }

            word_array.push(str_len >>> 29);
            word_array.push((str_len << 3) & 0x0ffffffff);

            for (blockstart = 0; blockstart < word_array.length; blockstart += 16) {
                for (i = 0; i < 16; i++) {
                    W[i] = word_array[blockstart + i];
                }
                for (i = 16; i <= 79; i++) {
                    W[i] = rotate_left(W[i - 3] ^ W[i - 8] ^ W[i - 14] ^ W[i - 16], 1);
                }

                A = H0;
                B = H1;
                C = H2;
                D = H3;
                E = H4;

                for (i = 0; i <= 19; i++) {
                    temp = (rotate_left(A, 5) + ((B & C) | (~B & D)) + E + W[i] + 0x5A827999) & 0x0ffffffff;
                    E = D;
                    D = C;
                    C = rotate_left(B, 30);
                    B = A;
                    A = temp;
                }

                for (i = 20; i <= 39; i++) {
                    temp = (rotate_left(A, 5) + (B ^ C ^ D) + E + W[i] + 0x6ED9EBA1) & 0x0ffffffff;
                    E = D;
                    D = C;
                    C = rotate_left(B, 30);
                    B = A;
                    A = temp;
                }

                for (i = 40; i <= 59; i++) {
                    temp = (rotate_left(A, 5) + ((B & C) | (B & D) | (C & D)) + E + W[i] + 0x8F1BBCDC) & 0x0ffffffff;
                    E = D;
                    D = C;
                    C = rotate_left(B, 30);
                    B = A;
                    A = temp;
                }

                for (i = 60; i <= 79; i++) {
                    temp = (rotate_left(A, 5) + (B ^ C ^ D) + E + W[i] + 0xCA62C1D6) & 0x0ffffffff;
                    E = D;
                    D = C;
                    C = rotate_left(B, 30);
                    B = A;
                    A = temp;
                }

                H0 = (H0 + A) & 0x0ffffffff;
                H1 = (H1 + B) & 0x0ffffffff;
                H2 = (H2 + C) & 0x0ffffffff;
                H3 = (H3 + D) & 0x0ffffffff;
                H4 = (H4 + E) & 0x0ffffffff;
            }

            temp = cvt_hex(H0) + cvt_hex(H1) + cvt_hex(H2) + cvt_hex(H3) + cvt_hex(H4);
            return temp.toLowerCase();
        }
    </script>
<script>
(function (angular) {
    var app = angular.module('admin', ['ngResource']);

    app.service('auth', function ($http, $interval) {
        var token;

        this.loadToken = function (cb) {
            $http.get('http://footbl-production.herokuapp.com/users/me/session', {'params' :{'email' : 'admin@admin.com', 'password' : '1234'}, 'transformRequest' : this.methodOverride('get')}).success(function (data) {
                token = data.token;
                if (cb) { cb(); }
            }.bind(this));
        }.bind(this);

        this.methodOverride = function (method) {
            return function (data, headersGetter) {
                var key, timestamp, transactionId, signature;

                key           = '~BYq)Ag-;$+r!hrw+b=Wx>MU#t0)*B,h+!#:+>Er|Gp#N)$=|tyU1%|c@yH]I2RR';
                timestamp     = new Date().getTime();
                transactionId = Math.floor(Math.random() * 1000000000);
                signature     = sha1(timestamp.toString() + transactionId.toString() + key.toString());

                headersGetter()['auth-signature']     = signature;
                headersGetter()['auth-timestamp']     = timestamp;
                headersGetter()['auth-transactionId'] = transactionId;
                headersGetter()['auth-token']         = token;
                if (method) { headersGetter()['x-http-method-override'] = method; }
                return JSON.stringify(data);
            };
        }.bind(this);

        $interval(this.loadToken, 30 * 60 * 1000);
        this.loadToken();
    });

    app.controller('MatchListController', function ($scope, $http, $interval, auth) {
        $scope.teams    = [];
        $scope.matches  = [];
        $scope.newMatch = {};

        auth.loadToken(function () {
            $scope.load(0);
            $scope.load(1);
            $scope.load(2);
            $scope.load(3);
            $scope.load(4);

            $http.get('http://footbl-production.herokuapp.com/teams', {'params' :{'page' : 0}, 'transformRequest' : auth.methodOverride('get')}).success(function (data) {
                for (var i in data) { $scope.teams.push(data[i]); }
            });

            $http.get('http://footbl-production.herokuapp.com/teams', {'params' :{'page' : 1}, 'transformRequest' : auth.methodOverride('get')}).success(function (data) {
                for (var i in data) { $scope.teams.push(data[i]); }
            });
        });

        $scope.load = function (page) {
            $http.get('http://footbl-production.herokuapp.com/championships/538cd3c6bef1ee1fdfed9e4b/matches', {'params' :{'page' : page}, 'transformRequest' : auth.methodOverride('get')}).success(function (data) {
                for (var i in data) { $scope.matches.push(data[i]); }
            });
        };

        $scope.updateMatch = function (match) {
            var data;
            if (match.finished) {
                match.elapsed = null;
            }
            data = angular.copy(match);
            data.guest = data.guest._id;
            data.host = data.host._id;
            $http.put('http://footbl-production.herokuapp.com/championships/538cd3c6bef1ee1fdfed9e4b/matches/' + match._id, data, {'transformRequest' : auth.methodOverride('put')}).success(function () {});
        };

        $scope.createMatch = function () {
            $scope.newMatch.guest = $scope.newMatch.guest._id;
            $scope.newMatch.host = $scope.newMatch.host._id;
            $http.post('http://footbl-production.herokuapp.com/championships/538cd3c6bef1ee1fdfed9e4b/matches/', $scope.newMatch, {'transformRequest' : auth.methodOverride('post')}).success(function (data) {
                $scope.matches.push(data);
                $scope.newMatch = {};
            });
        };

        $scope.startCounting = function (match) {
            match.elapsed = match.elapsed || 0;
            $scope.updateMatch(match);
            match.counter = $interval(function() {
                match.elapsed += 1;
                $scope.updateMatch(match);
            }, 60000);
        };

        $scope.stopCounting = function (match) {
            $interval.cancel(match.counter);
            delete match.counter;
        };

        $scope.resetCounter = function (match) {
            match.elapsed = null;
            $scope.updateMatch(match);
        };
    });
})(angular)
</script>
</head>
<body>
    <div ng-controller="MatchListController">
        <h3>
            Partidas
        </h3>
        <ul>
            <li>
                <form ng-submit="createMatch();">
                    <div>
                        <select ng-model="newMatch.guest._id" ng-options="team._id as team.name for team in teams"></select>
                        <input type="text" ng-model="newMatch.result.guest">
                        vs
                        <input type="text" ng-model="newMatch.result.host">
                        <select ng-model="newMatch.host._id" ng-options="team._id as team.name for team in teams"></select>
                    </div>
                    <div>
                        Round: <input type="text" ng-model="newMatch.round">
                    </div>
                    <div>
                        Date <input type="text" ng-model="newMatch.date">
                    </div>
                    <div>
                        Finished <input type="checkbox" ng-model="newMatch.finished" ng-true-value="true" ng-false-value="false">
                    </div>
                    <div>
                        <input type="submit">
                    </div>
                </form>
                <hr>
            </li>
            <li ng-repeat="match in matches | orderBy:['-round', 'date']">
                <form ng-submit="updateMatch(match);">
                    <div>
                        <select ng-model="match.guest._id" ng-options="team._id as team.name for team in teams"></select>
                        <input type="text" ng-model="match.result.guest">
                        vs
                        <input type="text" ng-model="match.result.host">
                        <select ng-model="match.host._id" ng-options="team._id as team.name for team in teams"></select>
                    </div>
                    <div>
                        Round: <input type="text" ng-model="match.round">
                    </div>
                    <div>
                        Date <input type="text" ng-model="match.date">
                    </div>
                    <div>
                        Finished <input type="checkbox" ng-model="match.finished">
                    </div>
                    <div>
                        Elapsed
                        {{match.elapsed}}
                        <span ng-click="startCounting(match)" ng-hide="match.counter">start</span>
                        <span ng-click="stopCounting(match)" ng-show="match.counter">stop</span>
                        <span ng-click="resetCounter(match)" ng-show="match.elapsed+1">reset</span>
                    </div>
                    <div>
                        <input type="submit">
                    </div>
                </form>
                <hr>
            </li>
        </ul>
    </div>
</body>
</html>