<!DOCTYPE html>
<html ng-app="admin">
<head>
<title>FOOTBL - ADMIN PANEL</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular-resource.min.js"></script>
    <script type="text/javascript">
        function sha1(str) {
            //  discuss at: http://phpjs.org/functions/sha1/
            // original by: Webtoolkit.info (http://www.webtoolkit.info/)
            // improved by: Michael White (http://getsprink.com)
            // improved by: Kevin van Zonneveld (http://kevin.vanzonneveld.net)
            //    input by: Brett Zamir (http://brett-zamir.me)
            //   example 1: sha1('Kevin van Zonneveld');
            //   returns 1: '54916d2e62f65b3afa6e192e6a601cdbe5cb5897'

            var rotate_left = function (n, s) {
                var t4 = (n << s) | (n >>> (32 - s));
                return t4;
            };

            /*var lsb_hex = function (val) {
             // Not in use; needed?
             var str="";
             var i;
             var vh;
             var vl;

             for ( i=0; i<=6; i+=2 ) {
             vh = (val>>>(i*4+4))&0x0f;
             vl = (val>>>(i*4))&0x0f;
             str += vh.toString(16) + vl.toString(16);
             }
             return str;
             };*/

            var cvt_hex = function (val) {
                var str = '';
                var i;
                var v;

                for (i = 7; i >= 0; i--) {
                    v = (val >>> (i * 4)) & 0x0f;
                    str += v.toString(16);
                }
                return str;
            };

            var blockstart;
            var i, j;
            var W = new Array(80);
            var H0 = 0x67452301;
            var H1 = 0xEFCDAB89;
            var H2 = 0x98BADCFE;
            var H3 = 0x10325476;
            var H4 = 0xC3D2E1F0;
            var A, B, C, D, E;
            var temp;

            // utf8_encode
            str = unescape(encodeURIComponent(str));
            var str_len = str.length;

            var word_array = [];
            for (i = 0; i < str_len - 3; i += 4) {
                j = str.charCodeAt(i) << 24 | str.charCodeAt(i + 1) << 16 | str.charCodeAt(i + 2) << 8 | str.charCodeAt(i + 3);
                word_array.push(j);
            }

            switch (str_len % 4) {
                case 0:
                    i = 0x080000000;
                    break;
                case 1:
                    i = str.charCodeAt(str_len - 1) << 24 | 0x0800000;
                    break;
                case 2:
                    i = str.charCodeAt(str_len - 2) << 24 | str.charCodeAt(str_len - 1) << 16 | 0x08000;
                    break;
                case 3:
                    i = str.charCodeAt(str_len - 3) << 24 | str.charCodeAt(str_len - 2) << 16 | str.charCodeAt(str_len - 1) <<
                            8 | 0x80;
                    break;
            }

            word_array.push(i);

            while ((word_array.length % 16) != 14) {
                word_array.push(0);
            }

            word_array.push(str_len >>> 29);
            word_array.push((str_len << 3) & 0x0ffffffff);

            for (blockstart = 0; blockstart < word_array.length; blockstart += 16) {
                for (i = 0; i < 16; i++) {
                    W[i] = word_array[blockstart + i];
                }
                for (i = 16; i <= 79; i++) {
                    W[i] = rotate_left(W[i - 3] ^ W[i - 8] ^ W[i - 14] ^ W[i - 16], 1);
                }

                A = H0;
                B = H1;
                C = H2;
                D = H3;
                E = H4;

                for (i = 0; i <= 19; i++) {
                    temp = (rotate_left(A, 5) + ((B & C) | (~B & D)) + E + W[i] + 0x5A827999) & 0x0ffffffff;
                    E = D;
                    D = C;
                    C = rotate_left(B, 30);
                    B = A;
                    A = temp;
                }

                for (i = 20; i <= 39; i++) {
                    temp = (rotate_left(A, 5) + (B ^ C ^ D) + E + W[i] + 0x6ED9EBA1) & 0x0ffffffff;
                    E = D;
                    D = C;
                    C = rotate_left(B, 30);
                    B = A;
                    A = temp;
                }

                for (i = 40; i <= 59; i++) {
                    temp = (rotate_left(A, 5) + ((B & C) | (B & D) | (C & D)) + E + W[i] + 0x8F1BBCDC) & 0x0ffffffff;
                    E = D;
                    D = C;
                    C = rotate_left(B, 30);
                    B = A;
                    A = temp;
                }

                for (i = 60; i <= 79; i++) {
                    temp = (rotate_left(A, 5) + (B ^ C ^ D) + E + W[i] + 0xCA62C1D6) & 0x0ffffffff;
                    E = D;
                    D = C;
                    C = rotate_left(B, 30);
                    B = A;
                    A = temp;
                }

                H0 = (H0 + A) & 0x0ffffffff;
                H1 = (H1 + B) & 0x0ffffffff;
                H2 = (H2 + C) & 0x0ffffffff;
                H3 = (H3 + D) & 0x0ffffffff;
                H4 = (H4 + E) & 0x0ffffffff;
            }

            temp = cvt_hex(H0) + cvt_hex(H1) + cvt_hex(H2) + cvt_hex(H3) + cvt_hex(H4);
            return temp.toLowerCase();
        }
    </script>
<script>
(function (angular) {
    var app = angular.module('admin', ['ngResource']);

    app.factory('SecretService', function () {
        var key, _timestamp, _transactionId, _token;
        key = '-f-Z~Nyhq!3&oSP:Do@E(/pj>K)Tza%})Qh= pxJ{o9j)F2.*$+#n}XJ(iSKQnXf';
        function timestamp () { return _timestamp = new Date().getTime(); }
        function transactionId () { return _transactionId = Math.floor(Math.random() * 1000000000); }
        function signature () { return sha1(_timestamp.toString() + _transactionId.toString() + key.toString()); }
        function token () { return _token; }
        return {
            'timestamp' : timestamp,
            'transactionId' : transactionId,
            'signature' : signature,
            'token' : token,
            'setCredentials' : function (token) { if (token) {_token = token;} }
        };
    });

    app.factory('methodOverride', function () {
        return function (method) {
            return function (data, headersGetter) {
                if (method) { headersGetter()['x-http-method-override'] = method; }
                return JSON.stringify(data);
            }
        }
    });

    app.factory('defaultResource', function (methodOverride, SecretService) {
        return {
            'get'    : {'method' : 'GET', 'params' : SecretService, 'transformRequest' : methodOverride('get')},
            'save'   : {'method' : 'GET', 'params' : SecretService, 'transformRequest' : methodOverride('post')},
            'query'  : {'method' : 'GET', 'params' : SecretService, 'transformRequest' : methodOverride('get'), 'isArray' : true},
            'remove' : {'method' : 'GET', 'params' : SecretService, 'transformRequest' : methodOverride('delete')},
            'delete' : {'method' : 'GET', 'params' : SecretService, 'transformRequest' : methodOverride('delete')},
            'update' : {'method' : 'GET', 'params' : SecretService, 'transformRequest' : methodOverride('put')}
        };
    });

    app.factory('TeamService', function ($resource, defaultResource) {
        return $resource('http://footbl-development.herokuapp.com/teams/:_id', {'_id' : '@_id'}, defaultResource);
    });

    app.factory('ChampionshipService', function ($resource, defaultResource) {
        return $resource('http://footbl-development.herokuapp.com/championships/:_id', {'_id' : '@_id'}, defaultResource);
    });

    app.factory('MatchService', function ($resource, defaultResource) {
        return $resource('http://footbl-development.herokuapp.com/championships/:championship/matches/:_id', {'_id' : '@_id'}, defaultResource);
    });

    app.controller('LoginController', function ($scope, SecretService, $http) {
        $scope.user = {};
        $scope.login = function () {
            $scope.user.timestamp = SecretService.timestamp();
            $scope.user.transactionId = SecretService.transactionId();
            $scope.user.signature = SecretService.signature();
            $http.get('http://footbl-development.herokuapp.com/users/me/session', {'params' :$scope.user}).success(function (data) {
                SecretService.setCredentials(data.token);
            });
        };
    });

    app.controller('TeamListController', function ($scope, TeamService) {
        var page = 0;
        $scope.teams = [];

        $scope.load = function () {
            TeamService.query({'page' : page}, function (teams) {
                $scope.teams = $scope.teams.concat(teams);
            });
            page += 1;
        }
    });

    app.controller('ChampionshipListController', function ($scope, ChampionshipService) {
        var page = 0;
        $scope.championships = [];

        $scope.load = function () {
            ChampionshipService.query({'page' : page}, function (championships) {
                $scope.championships = $scope.championships.concat(championships);
            });
            page += 1;
        }
    });

    app.controller('MatchListController', function ($scope, MatchService) {
        var page = 0;
        $scope.matches = [];

        $scope.load = function () {
            MatchService.query({'championship' : $scope.championship._id, 'page' : page}, function (matches) {
                $scope.matches = $scope.matches.concat(matches);
            });
            page += 1;
        }
    });
})(angular)
</script>
</head>
<body>
    <div ng-controller="LoginController">
        <form ng-submit="login()">
            <div>
                Email <input type="text" ng-model="user.email">
            </div>
            <div>
                Password <input type="password" ng-model="user.password">
            </div>
            <div>
                <input type="submit">
            </div>
        </form>
    </div>
    <div ng-controller="TeamListController">
        <h2>
            Times
        </h2>
        <ul>
            <li ng-repeat="team in teams">
                <form ng-submit="team.$update(team);">
                    <hr>
                    <div>
                        {{team.name}}
                    </div>
                    <div>
                        <input type="text" ng-model="team.picture">
                    </div>
                    <div>
                        <input type="submit">
                    </div>
                </form>
            </li>
        </ul>
        <span ng-click="load()">carregar +</span>
    </div>
    <div ng-controller="ChampionshipListController">
        <h2>
            Campeonatos
        </h2>
        <ul>
            <li ng-repeat="championship in championships">
                <form ng-submit="championship.$update(championship);">
                    <hr>
                    <div>
                        {{championship.name}}
                    </div>
                    <div>
                        <select ng-model="championship.type">
                            <option value="national league">national league</option>
                            <option value="world cup">world cup</option>
                            <option value="normal">normal</option>
                        </select>
                    </div>
                    <div>
                        {{championship.country}}
                    </div>
                    <div>
                        <input type="submit">
                    </div>
                </form>
                <div ng-controller="MatchListController">
                    <h3>
                        Partidas
                    </h3>
                    <ul>
                        <li ng-repeat="match in matches">
                            <div>
                                {{match.guest.name}} <input type="text" ng-model="match.result.guest"> x <input type="text" ng-model="match.result.host"> {{match.host.name}}
                            </div>
                            <div>
                                Rodada: <input type="text" ng-model="match.round">
                            </div>
                            <div>
                                {{match.date}}
                            </div>
                            <div>
                                <input type="checkbox" ng-model="match.finished"> Terminou
                            </div>
                        </li>
                    </ul>
                    <span ng-click="load()">carregar +</span>
                </div>
            </li>
        </ul>
        <span ng-click="load()">carregar +</span>
    </div>
</body>
</html>